body{
    margin: 0; 
}

nav{
    background-color: #defcf9;
    padding: 10px;
    display: flex;
    justify-content: right;


    a{
        color: crimson;
        text-decoration: none;
    }
    

    a:hover{
        color: rgb(161, 98, 238);
    }

    font-family: 'Playfair Display', serif;
}


footer{
    background-color: #defcf9;
    height: 25px;
    display: flex;
    justify-content: center;

    a{
        color: crimson;
        text-decoration: none;

    }
    

    a:hover{
        color: rgb(161, 98, 238);
    }

    font-family: 'Playfair Display', serif;
}


.top {
    background-color: rgb(255, 255, 255);
    background-image: url(images/Winter.jpg);
    background-size: cover;
    text-align: center;
    border-width: 0 5px;
    background-blend-mode: multiply;
    padding: 10px;
    font-family: 'Playfair Display', serif;
    color: rgb(255, 255, 255);
    font-size: larger ;
    padding-top: 200px;
    padding-bottom: 325px;

}

.top img{
    border-radius: 15px 15px 15px 15px;
    position: absolute;
    top: 50px;
    width: 100px;
    height: 50px;
    left: 10px;
    border: 3px solid #475053;
    
}

.top div img{
    border-radius: 15px 15px 15px 15px;
    position: absolute;
    top: 50px;
    width: 100px;
    height: 50px;
    left: 120px;
    border: 3px solid #475053;
}

.bottom{
    background-color: #acdcee;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
    color: #475053;
    font-size: larger;
    border-width: 5px;
    text-align: center;
    

    a{
        color: red;
        text-decoration: none;
    }

    a:hover{
        color: rgb(161, 98, 238);
    }
    
    font-family: 'Cormorant Garamond', serif;
   
}


.bottom img{
    border-radius: 20%;
    height: 250px;
    background-size: cover;
    border: 3px solid #475053;
}

.bottom img:hover{
    cursor: pointer;
    transform: scale(1.03);
    transform: all 1s ease;
}

.card{
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 8px 0;
    margin: 20px;
    width: 270px;
    height: 400px;
    border-radius: 15px
    
    
}

.card-image{
    background-color: aqua;
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.three-col{
    justify-content: center;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
}

.image-1{
    background-image: url(images/Language.jpg);
}

.image-2{
    background-image: url(images/Leadership.jpg);
}

.image-3{
    background-image: url(images/Skills.jpg);

}


.card h3{
    font-size: large;
    color: rgb(45, 203, 179);
}

.card:hover {
    cursor: pointer;
    transform: scale(1.03);
    transform: all 1s ease;
}

.card ul{
    display: grid;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 10px;
    font-size: large;
}

.card dl{
    display: grid;
    padding:0;
    margin: 0;
    justify-content: center;
    font-size: medium;
}

.card dt{
    display: grid;
    padding:0;
    margin: 0;
    justify-content: center;
}

.card dd{
    display: grid;
    padding:0;
    margin: 0;
    justify-content: center;
}

.one-col{
    display: flex;
    grid-template-columns: 1fr;
    background: #defcf9;
    box-shadow: 0px 4px 8px 0;
    margin: auto;
    height: 260px;
    width: 500px;
    border-radius: 15px
}


.color {
    background-color: #acdcee;
    height: 400px;
    padding-bottom: 28px;   
}


.text{
    text-align: center;
    padding: 0;
    margin: 0; 
    color:#475053;
    background-color: #acdcee;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
}

.name{
    color: #475053;
    padding-bottom: 10px;
    font-size: large;
    padding-top: 10px;
    padding-left: 5px;
}

.name input{
    width: 400px;
    height: 50px;
    font-family: 'Playfair Display', serif;
}

.email{
    color: #475053;
    padding-bottom: 10px;
    font-size: large;
    padding-top: 10px;
    padding-left: 5px;
}

.email input{
    width: 400px;
    height: 50px;
    font-family: 'Playfair Display', serif;
}

.message{
    color: #475053;
    padding-bottom: 10px;
    font-size: large;
    padding-top: 10px;
    padding-left: 10px;
}

.message textarea{
    width: 400px;
    height: 50px;
    font-family: 'Playfair Display', serif;
}

.submit input{
    margin-left: 215px;
    font-family: 'Playfair Display', serif;
    font-size: small;
}

